<!-- NAVBAR -->
<div ng-include src="'views/partials/loading.html'"></div>

<!-- NAVBAR -->
<div ng-show="!vm.loading" ng-include src="'views/partials/navbar.html'"></div>

<!-- MAIN -->
<div ng-show="!vm.loading" id="main" class="block">
    <button class="btn btn-lg hide-button" ng-click="vm.utility.open()">&#9776;</button>
    <div class="table">
        <div class="cell">
            <div class="inner-cell wide right-align padding-rt-5" ng-repeat="repo in vm.github.repos | orderBy:'-pushed_at' | limitTo:10">
                <a class="a-style repo" ng-href="{{ repo.html_url }}">{{ repo.name }}</a>
                <div class="sub-title">{{ repo.description }}</div>
                <div class="sub-title">{{ repo.latest_push_date }}</div>
            </div>
        </div>
    </div>
</div>
