<section id="contact" class="background-dark">
    <div class="header white text-center">Contact Me</div>
    <div class="container">
        <div class="col-xs-12 col-sm-3"></div>
        
        <div class="col-xs-12 col-sm-6 social-media">
            <a ng-repeat="contact in data.contacts" ng-href="{{contact.href}}">
                <i class="fa fa-3x white" ng-class="contact.icon" aria-hidden="true"></i>
            </a>
        </div>
        
        <div class="col-xs-12 col-sm-3"></div>
        <div class="col-xs-12 white text-center copyright">Copyright © 2017 Alex Chen. All rights reserved.</div>
    </div>
</section>