<div class="tab-content-overflow modal-body-margin row">

   <!--      Organization Description      -->
   <div class="col-md-12">
        <div class="form-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <label>
                        Organization Description
                    </label>
                    <span class="label label-success float-right">{{exp.industry}}</span>
                    <hr class="custom-margin">
                    <div class="font-light">
                        {{exp.organizationDescription}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--      Position Detail      -->
    <div class="col-md-6">
        <div class="form-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <label>Position Detail</label>
                    <hr class="custom-margin">
                    <div>
                        <label>Role: </label>
                        <span class="font-light">{{exp.role}}</span>
                    </div>
                    <div>
                        <label>Location: </label>
                        <span class="font-light">{{exp.location}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--      Employment Period      -->
    <div class="col-md-6">
        <div class="form-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <label>Employment Period</label>
                        <span class="label label-success float-right" ng-class="{'badge-complete': exp.status == 'Complete'}">{{exp.status}}</span>
                    <hr class="custom-margin">
                    <div>
                        <label>Start Date: </label>
                        <span class="font-light">{{exp.start}}</span>
                    </div>
                    <div>
                        <label>End Date: </label>
                        <span class="font-light">{{exp.end}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--      Current Term      -->
   <div class="col-md-12" ng-show="exp.currentTerm">
        <div class="form-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <label>
                        Current Term ({{exp.currentTerm}})
                    </label>
                    <hr class="custom-margin">
                    <div class="font-light">
                        <label>Courses:</label>
                        <div ng-repeat="course in exp.courses">
                            <span class="font-light">&bull; {{course}}</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
