<section id="feed" class="background-light col-xs-12 col-md-6 block-custom">
    <div class="header text-center">#InstaFeeds</div>
    <div class="container bottom-space col-xs-12">
        <div class="instafeed col-xs-12 col-sm-6 col-md-4" ng-repeat="feed in feeds | limitTo:feeds_limit">
            <img ng-src="{{feed.images.standard_resolution.url}}">
            <a ng-href="{{feed.link}}">
                <p class="feed-text">{{ feed.caption.text }}</p>
            </a>
        </div>
    </div>
<!--    <button class="btn btn-blue col-xs-6 col-sm-2 col-xs-offset-3 col-sm-offset-5" ng-click="loadMore()" ng-hide="feeds_limit == feeds.length">Load More</button>-->
</section>

<section id="blog" class="background-light col-xs-12 col-md-6 block-custom">
    <div class="header text-center">#Blog</div>
    <div class="container bottom-space col-xs-12">
        <div class="instafeed col-xs-12 col-sm-6 col-md-4" ng-repeat="feed in feeds | limitTo:feeds_limit">
            <img ng-src="{{feed.images.standard_resolution.url}}">
            <a ng-href="{{feed.link}}">
                <p class="feed-text">{{ feed.caption.text }}</p>
            </a>
        </div>
    </div>
<!--    <button class="btn btn-blue col-xs-6 col-sm-2 col-xs-offset-3 col-sm-offset-5" ng-click="loadMore()" ng-hide="feeds_limit == feeds.length">Load More</button>-->
</section>
