<nav class="navbar navbar-fixed-top" scroll-position="scroll" ng-class="{color: scroll > 10, transparent: scroll <= 10}">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar background-light"></span>
        <span class="icon-bar background-light"></span>
        <span class="icon-bar background-light"></span>
      </button>
      <a class="navbar-brand" href="/"></a>
    </div>

     <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a ng-class="{white: scroll > 10}" class="navbar-custom" href="/#!/home">Home</a></li>
        <li><a ng-class="{white: scroll > 10}" class="navbar-custom" href="/#!/project">Projects</a></li>
        <li><a ng-class="{white: scroll > 10}" class="navbar-custom" href="/#!/photography">Photography</a></li>
        <li><a ng-class="{white: scroll > 10}" class="navbar-custom" href="/#!/experience">Experience</a></li>
        <li><a ng-class="{white: scroll > 10}" class="navbar-custom" href="/#!/contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->

  </div>
</nav>
