<div id="sidebar" class="blue-background block hide-sidebar sidebar-animate-left">
    <button class="btn btn-lg blue-background menu-item hide-button" ng-click="vm.utility.close()">&times;</button>
    <div class="table">
        <div class="cell">
            <div class="inner-cell">
                <a class="menu-item" href="/#!/">HOME</a>
            </div>
            <div class="inner-cell">
                <a class="menu-item" href="/#!/resume">RESUME</a>
            </div>
            <div class="inner-cell">
                <a class="menu-item" href="/#!/projects">PROJECTS</a>
            </div>
<!--
            <div class="inner-cell">
                <a class="menu-item" href="/#!/">PHOTOGRAPHY</a>
            </div>
-->
        </div>
    </div>
</div>
