<section ng-hide="seedetail" id="portfolio" class="background-dark">
    <div class="header white text-center">Portfolio</div>
    <div class="container bottom-space">
        <div ng-repeat="item in portfolio" class="col-xs-12 col-sm-4 col-lg-4 text-center">
            <div ng-class="item.style" class="col-xs-10 col-xs-offset-1 port-category">
                <div class="text-underline">{{ item.category }}</div>
            </div>
            <div ng-mouseenter="details=true" ng-mouseleave="details=false" ng-show="details" ng-class="item.style" class="col-xs-10 col-xs-offset-1 port-detail">
                <div ng-repeat="project in item.projects" class="m-t" ng-click="viewProject(project)">{{ project.title }}</div>
            </div>
        </div>
    </div>
</section>
<section ng-show="seedetail" id="portfolio-detail" class="background-dark bottom-space">
    <div class="header white no-padding-bottom text-center">{{ currentProject.title }}</div>
    <div class="container">
        <div class="col-xs-12 text-center sub-header">{{ currentProject.type }}</div>
        <div class="col-xs-12 col-sm-7 col-sm-offset-1 summary bottom-space">{{ currentProject.summary }}</div>

        <div class="col-xs-12 col-sm-4 summary bottom-space">
            <div class="col-xs-12">
                <p ng-if="currentProject.contribution != null">Built at <b>{{ currentProject.contribution }}</b>.</p>
            </div>
            <div class="col-xs-12">
                <p>Used: <span ng-repeat="item in currentProject.keys" class="label label-default label-custom">{{ item }}</span></p>

            </div>
        </div>
        <button ng-click="seedetail=false" class="btn btn-blue col-xs-6 col-sm-2 col-xs-offset-3 col-sm-offset-5">Go Back</button>
    </div>
</section>