<div id="project" class="col-xs-12 background-light">
    <div class="header text-center">Recent Projects</div>
    <div class="container bottom-space">
        <div class="text-center sub-heading">Weekly Commits: <b>{{ vm.github.commits.length }}</b></div>

        <div class="col-xs-12 col-sm-6 github-repo" ng-repeat="repo in vm.github.repos | orderBy:'-pushed_at' | limitTo:6">
            <a class="dark" ng-href="{{ repo.html_url }}">{{ repo.name }}</a>
            <div class=" description yellow">{{ repo.description }}</div>
            <div class="">
                <p class="text-small grey">{{ repo.latest_push_date }}</p>
            </div>
        </div>

        <div class="text-center">
            <em>Data gathered from the <a href="https://developer.github.com/v3/">Github</a> API.</em>
        </div>
    </div>
</div>
