<div class="container" ng-repeat="item in categories">
    <div ng-if="activePage == $index">
        <div class="text-center">
            <h1 class="title">
                <a ng-click="previous()"><i class="fa fa-angle-double-left arrow" aria-hidden="true"></i></a>
                {{item.topic}}
                <a ng-click="next()"><i class="fa fa-angle-double-right arrow" aria-hidden="true"></i></a>
            </h1>
            <div class="line-sm" ng-class="activePage == 0 ? 'active-page' : ''"></div>
            <div class="line-sm" ng-class="activePage == 1 ? 'active-page' : ''"></div>
            <div class="line-sm" ng-class="activePage == 2 ? 'active-page' : ''"></div>
        </div>
        <br>
        <div class="paragraph">
            {{ item.description }}

            <!--      Show institutions images      -->
            <div ng-show="item.institutions">
                <div class="row form-group">
                    <div class="col-md-4" ng-repeat="institution in item.institutions">
                        <img class="img-center" src="{{institution.image}}">
                    </div>
                </div>
            </div>

            <!--      Show awards if exists      -->
            <div class="form-group" ng-repeat="award in item.listOfAwards">
                <div class="panel panel-default summary-card">
                    <div class="panel-body font-md">
                        <i class="fa fa-trophy vertical-align gold" aria-hidden="true"></i>
                        {{award.name}}
                        <span class="float-right">{{award.presentedBy}}</span>
                        <span class="label label-success project-badge">{{award.category}}</span>
                    </div>
                </div>
            </div>

            <!--      Show Skills if exists     -->
            <div ng-show="item.skills">
                <i class="fa fa-language" aria-hidden="true"></i>
                Languages:
                <div class="panel panel-default summary-card">
                    <div class="panel-body font-md horizontal-overflow">
                        <span class="label label-success project-badge badges-inline" ng-repeat="language in item.skills.languages">{{language}}</span>
                    </div>
                </div>

                <i class="fa fa-sitemap" aria-hidden="true"></i>
                Framework and Tools:
                <div class="panel panel-default summary-card">
                    <div class="panel-body font-md horizontal-overflow">
                        <span class="label label-tools project-badge badges-inline" ng-repeat="tool in item.skills.frameworkAndTools">{{tool}}</span>
                    </div>
                </div>

                <i class="fa fa-cogs" aria-hidden="true"></i>
                Environments:
                <div class="panel panel-default summary-card">
                    <div class="panel-body font-md horizontal-overflow">
                        <span class="label label-environments project-badge badges-inline" ng-repeat="environment in item.skills.environments">{{environment}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
