<!--
<div class="templateBackground">
    <div class="templateTitle" ng-class="{'text-center': !style, 'banner-margin': !style}">{{ templateTitle }}</div>
</div>
-->

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-message">
                    <div class="text-center">{{ quote }}</div>
                    <span> - {{ quoteFrom }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<section id="about" class="about bg-info">
    <div class="container">
        <div class="row text-center">
           <div class="col-md-12 col-sm-3" ng-repeat="item in categories">
                <div class="about-item">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa {{ item.icon }} fa-stack-1x text-primary icon-list"></i>
                    </span>
                    <br>
                    <p>{{ item.description }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
-->

<div class="container bottom" ng-repeat="item in categories">
    <div class="row text-center">
        <h1 class="title">{{item.topic}}</h1>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6">
            <img class="img-center" src="{{item.img}}">
        </div>
        <span class="col-lg-6">
            <p class="paragraph">{{ item.description }}</p>
        </span>
    </div>
</div>

<div id="footer" class="text-center footer-above">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Contact</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-inline">
                            <li>
                                <a href="http://maps.google.com/?q=110 University Avenue West, Waterloo, Ontario, Canada N2L 3E2" class="btn-social btn-outline"><i class="fa fa-fw fa-map-marker"></i></a>
                            </li>
                            <li>
                                <a href="mailto:achen831008@gmail.com" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope-o"></i></a>
                            </li>
                            <li>
                                <a href="tel:+1(416)-706-0268" class="btn-social btn-outline"><i class="fa fa-fw fa-mobile"></i></a>
                            </li>
                            <li>
                                <a href="https://goo.gl/AMOIoI" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://goo.gl/bVVZxU" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://goo.gl/YjV6tz" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
