<div class="container" ng-repeat="item in categories">
    <div ng-if="activePage == $index">
        <div class="text-center">
            <h1 class="title">
                <a ng-click="previous()"><i class="fa fa-angle-left arrow" aria-hidden="true"></i></a>
                {{item.topic}}
                <a ng-click="next()"><i class="fa fa-angle-right arrow" aria-hidden="true"></i></a>
            </h1>
            <div class="line-sm" ng-class="activePage == 0 ? 'active-page' : ''"></div>
            <div class="line-sm" ng-class="activePage == 1 ? 'active-page' : ''"></div>
            <div class="line-sm" ng-class="activePage == 2 ? 'active-page' : ''"></div>
        </div>
        <br>
        <div class="paragraph">
            {{ item.description }}

<!--            <div ng-include="'/views/partials/references.html'"></div>-->
            <div ng-include="'/views/partials/awards.html'"></div>
            <div ng-include="'/views/partials/skills.html'"></div>
        </div>
    </div>
</div>
