<div class="templateBackground">
    <div class="templateTitle" ng-class="{'text-center': !style, 'banner-margin': !style}">{{ templateTitle }}</div>
</div>
<div class="divider"></div>

<a name="experience"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <table ng-show="!show" class="table table-striped" wt-responsive-table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Organization</th>
                        <th>Role</th>
                        <th>Type</th>
                        <th ng-show="style">Start Date</th>
                        <th ng-show="style">End Date</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="exp in exps | orderBy:'-start'">
                        <td><img class="logo" src="{{ exp.logo }}" alt="Image"></td>
                        <td><a class="tableContent" href="{{exp.link}}">{{exp.organization}}</a></td>
                        <td>{{exp.role}}</td>
                        <td>{{exp.type}}</td>
                        <td ng-show="style">{{exp.start}}</td>
                        <td ng-show="style">{{exp.end}}</td>
                        <td><a class="tableContent" ng-click="vm.createModal()"><i class="fa fa-eye fa-2x"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
