<div>
    <div class="modal-header">
        <h1 class="modal-title">{{organization}}</h1>
        <div class="close-btn" ng-click="vm.cancel()"></div>
    </div>
    <div class="modal-body">
        <tabset vertical="true">
            <tab heading="details">
                <div class="row">
                    <div class="col-lg-12">
                        <header class="tab-content-header">
                            <h2>Details</h2>
                        </header>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <button class="btn" ng-click="">Add</button>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <button class="btn" ng-click="">Add</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p>test</p>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
    <!--<div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>-->
</div>
