<div>
   <div class="modal-content modal-radius">
        <div class="modal-header modal-header-style">
            <button type="button" class="close" ng-click="vm.close()" aria-hidden="true">&times;</button>
            <h1 class="modal-title"><img class="modal-logo" src="{{ exp.logo }}" alt="Image">{{exp.organization}}</h1>
        </div>
        <div class="modal-body">
            <tabset>
                <tab heading="Overview">
                    <div class="tab-content-overflow modal-body-margin row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Role: </label>
                                <span class="font-light">{{exp.role}}</span>
                            </div>
                            <div class="form-group">
                                <label>Location: </label>
                                <span class="font-light">{{exp.location}}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Start Date: </label>
                                <span class="font-light">{{exp.start}}</span>
                            </div>
                            <div class="form-group">
                                <label>End Date: </label>
                                <span class="font-light">{{exp.end}}</span>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab ng-if="exp.summary" heading="Work Summary">
                    <div class="tab-content-overflow modal-body-margin">
                        <div class="form-group" ng-repeat="point in exp.summary">
                            <div class="panel panel-default summary-card">
                                <div class="panel-body">{{point}}</div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab ng-if="exp.projects" heading="Projects">
                    <div class="tab-content-overflow modal-body-margin">
                        <div class="form-group" ng-repeat="project in exp.projects">
                            <div class="panel panel-default summary-card">
                                <div class="panel-body">
                                    {{project.name}}
                                    <span class="label label-success project-badge" ng-repeat="x in project.language">{{x}}</span>
                                    <button type="button" class="btn btn-default float-right font-sm" ng-model="view" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">View</button>
                                </div>
                                <div ng-show="view" class="panel-body font-light">{{project.summary}}</div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab ng-if="exp.recommendation" heading="Recommendation">
                    <div class="tab-content-overflow modal-body-margin">
                        <div class="form-group font-light">
                            {{exp.recommendation}}
                        </div>
                        <div class="recommendation">
                            <div>- {{exp.recommendedRole}},</div>
                            <div>{{exp.recommendedBy}}</div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="vm.close()">Close</button>
        </div>
   </div>
</div>
