<div class="templateBackground">
    <div class="templateTitle" ng-class="{'text-center': !style, 'banner-margin': !style}">{{ templateTitle }}</div>
</div>
<div class="divider"></div>

<a name="experience"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <table ng-show="!show" class="table table-striped" wt-responsive-table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Organization</th>
                        <th>Role</th>
                        <th ng-show="style">Type</th>
                        <th ng-show="style">Status</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="exp in exps | orderBy:'-end'">
                        <td><img class="logo" src="{{ exp.logo }}" alt="Image"></td>
                        <td><a class="tableContent" href="{{exp.link}}">{{exp.organization}}</a></td>
                        <td >{{exp.role}}</td>
                        <td ng-show="style">{{exp.type}}</td>
                        <td ng-show="style" ng-class="exp.status == 'Complete' ? 'complete' : 'inProgress'">
                            <i class="status fa fa-circle fa-1" tooltip="{{exp.status}}"></i>
                        </td>
                        <td><a class="tableContent" ng-click="vm.view(exp.shortname)"><i class="fa fa-eye fa-2x"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
