<div>
   <div class="modal-content modal-radius">
        <div class="modal-header modal-header-style">
            <button type="button" class="close" ng-click="vm.close()" aria-hidden="true">&times;</button>
            <h1 class="modal-title"><img class="modal-logo" src="{{ exp.logo }}" alt="Image">{{exp.organization}}</h1>
        </div>
        <div class="modal-body">
            <tabset>
                <tab heading="Overview">
                    <div ng-include="'/views/partials/experience.overview.html'"></div>
                </tab>
                <tab ng-if="exp.summary" heading="Work Summary">
                    <div ng-include="'/views/partials/experience.summary.html'"></div>
                </tab>
                <tab ng-if="exp.projects" heading="Projects">
                    <div ng-include="'/views/partials/experience.projects.html'"></div>
                </tab>
                <tab ng-if="exp.recommendation" heading="Recommendation">
                    <div ng-include="'/views/partials/experience.recommendation.html'"></div>
                </tab>
            </tabset>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="vm.close()">Close</button>
        </div>
   </div>
</div>
