<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>{{ Name }}</h1>
                    <h3 class="text-center">{{ program }}</h3>
                    <hr class="intro-divider">
                    <header id="top" class="header">
                        <div class="text-vertical-center">
                            <br>
                            <br>
                            <a id="find_out_more" href="/about" class="btn btn-dark btn-lg" ng-click="setActive('About')">Find Out More</a>
                            <br>
                            <br>
                            <br>
                        </div>
                    </header>
                </div>
            </div>
        </div>
    </div>
</div>
