<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>{{ Name }}</h1>
                    <h3 class="text-center">{{ program }}</h3>
                    <hr class="intro-divider">
                    <header id="top" class="header">
                        <div class="text-vertical-center">
                            <br>
                            <br>
                            <a id="find_out_more" href="/about" class="btn btn-dark btn-lg" ng-click="setActive('About')">Find Out More</a>
                            <br>
                            <br>
                            <br>
                        </div>
                    </header>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer" class="text-center footer-above">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Contact</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-inline">
                            <li>
                                <a href="http://maps.google.com/?q=110 University Avenue West, Waterloo, Ontario, Canada N2L 3E2" class="btn-social btn-outline"><i class="fa fa-fw fa-map-marker"></i></a>
                            </li>
                            <li>
                                <a href="mailto:achen831008@gmail.com" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope-o"></i></a>
                            </li>
                            <li>
                                <a href="tel:+1(416)-706-0268" class="btn-social btn-outline"><i class="fa fa-fw fa-mobile"></i></a>
                            </li>
                            <li>
                                <a href="https://goo.gl/AMOIoI" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://goo.gl/bVVZxU" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://goo.gl/YjV6tz" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
