    <div class="text-center">
        <div class="container portfolio-header">
            <div class="row">
                <div class="col-lg-12">
                    <h2>My Portfolio</h2>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div id="overlay"></div>
    <div class="imgBig">
        <div id="overlayContent_0">
            <div class="container">
                <div class="row text-center">
                    <div class="overlay_header">
                        <h2>VPEC INTRANET</h2>
                        <a class="close-thik"></a>
                        <hr>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#architecture0">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-sitemap fa-stack-1x text-primary"></i>
                                </span><br>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#tools0">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-cogs fa-stack-1x text-primary"></i>
                                </span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#summary0">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-info fa-stack-1x text-primary"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div id="architecture0" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Architecture</h3>
                        <p>VPEC Intranet is built using HTML, CSS, JavaScript, ASP, and SQL.</p>
                    </div>
                    <div id="tools0" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Tools</h3>
                        <p>IIS, Oracle Database, SQL Server, Notepad++.</p>
                    </div>
                    <div id="summary0" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Summary</h3>
                        <p>VPEC Intranet is designed to improve organizational communication, internal service and management. There are various features implemented such as HR News Feed, IT News Feed, IT Service Request, Meeting Booking Request, and Frequently Asked Questions.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="overlayContent_1">
            <div class="container">
                <div class="row text-center">
                    <div class="overlay_header">
                        <h2>UW Monopoly</h2>
                        <a class="close-thik"></a>
                        <hr>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#architecture1">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-sitemap fa-stack-1x text-primary"></i>
                                </span><br>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#tools1">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-cogs fa-stack-1x text-primary"></i>
                                </span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#summary1">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-info fa-stack-1x text-primary"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div id="architecture1" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Architecture</h3>
                        <p>UW Monopoly is built using C++ Object Oriented Programming and Singliton Pattern Design.</p>
                    </div>
                    <div id="tools1" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Tools</h3>
                        <p>Sublime, GitLab, Mac Terminal (Bash), and SSH.</p>
                    </div>
                    <div id="summary1" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Summary</h3>
                        <p>This game follows the standard monopoly game rules; however, there is various features designed based on UW campus such as Timmy line up, and Goose Nesting.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="overlayContent_2">
            <div class="container">
                <div class="row text-center">
                    <div class="overlay_header">
                        <h2>DFO Milke Management System</h2>
                        <a class="close-thik"></a>
                        <hr>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#architecture2">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-sitemap fa-stack-1x text-primary"></i>
                                </span><br>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#tools2">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-cogs fa-stack-1x text-primary"></i>
                                </span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#summary2">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-info fa-stack-1x text-primary"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div id="architecture2" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Architecture</h3>
                        <p>MMS is designed using Microsoft ASP.NET MVC framework in C#. Also, JavaScript, jQuery, and SQL Store Procedures are used to enhence various features for the application.</p>
                    </div>
                    <div id="tools2" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Tools</h3>
                        <p>MS Visual Studio, TFS, MS SQL Server, and MS Test Manager.</p>
                    </div>
                    <div id="summary2" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Summary</h3>
                        <p>This application is built not only to replace the existing DFO Milk Management System but also for the 9 Provinces across Canada. There is different features based on users type (Producers/Transporter/Processor) such as Quota Exchange, Milk Inspection, etc.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="overlayContent_3">
            <div class="container">
                <div class="row text-center">
                    <div class="overlay_header">
                        <h2>Chess</h2>
                        <a class="close-thik"></a>
                        <hr>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#architecture3">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-sitemap fa-stack-1x text-primary"></i>
                                </span><br>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#tools3">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-cogs fa-stack-1x text-primary"></i>
                                </span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#summary3">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-info fa-stack-1x text-primary"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div id="architecture3" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Architecture</h3>
                        <p>Chess is implemented using C++ MVC pattern. Also, Xwindows lib was used to help visualizing the game movement.</p>
                    </div>
                    <div id="tools3" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Tools</h3>
                        <p>Sublime, GitLab, and Mac Terminal (Bash).</p>
                    </div>
                    <div id="summary3" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Summary</h3>
                        <p>This application is built not only to replace the existing DFO Milk Management System but also for the 9 Provinces across Canada. There is different features based on users type (Producers/Transporter/Processor) such as Quota Exchange, Milk Inspection, etc.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="overlayContent_4">
            <div class="container">
                <div class="row text-center">
                    <div class="overlay_header">
                        <h2>Credential Manager</h2>
                        <a class="close-thik"></a>
                        <hr>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#architecture4">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-sitemap fa-stack-1x text-primary"></i>
                                </span><br>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#tools4">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-cogs fa-stack-1x text-primary"></i>
                                </span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#summary4">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-info fa-stack-1x text-primary"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div id="architecture4" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Architecture</h3>
                        <p>Credential Manager is a Cloud Web Form Application in Visual C#, and it is integrated with MS Azure.</p>
                    </div>
                    <div id="tools4" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Tools</h3>
                        <p>MS Visual Studio, MS Azure, and MS SQL Server.</p>
                    </div>
                    <div id="summary4" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Summary</h3>
                        <p>This application is designed for storing various business credentials. User is able to see his or her own credentials stored under company; moreover, certain permission is assigned to each user based on his or her authority. Also, a DashBoard was designed for Administrators to have an overview of system and to control all users.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="overlayContent_5">
            <div class="container">
                <div class="row text-center">
                    <div class="overlay_header">
                        <h2>Order Manager</h2>
                        <a class="close-thik"></a>
                        <hr>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#architecture5">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-sitemap fa-stack-1x text-primary"></i>
                                </span><br>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#tools5">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-cogs fa-stack-1x text-primary"></i>
                                </span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#summary5">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-info fa-stack-1x text-primary"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div id="architecture5" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Architecture</h3>
                        <p>Order Manager is a Cloud Web Application in C#. It is integrated with various eCommerce APIs and Transportation APIs. The Electronic Data Interexchange process is designed by sending HTTP Get/Post Request and stored necessary data in MS Azure using T-SQL. Moreover, this application also accesses files on SFTP Server to check for XML feeds, and process it.</p>
                    </div>
                    <div id="tools5" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Tools</h3>
                        <p>Linux, MS Visual Studio, MS Azure, and MS SQL Server.</p>
                    </div>
                    <div id="summary5" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Summary</h3>
                        <p>This application is designed for processing order placement within one platform from various eCommerce sites and send notifications to transporters for shipments. There is various features designed such as analyzing profitability and top selling items, generating financial report, order dashboard.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="overlayContent_6">
            <div class="container">
                <div class="row text-center">
                    <div class="overlay_header">
                        <h2>SKU Manager</h2>
                        <a class="close-thik"></a>
                        <hr>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#architecture6">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-sitemap fa-stack-1x text-primary"></i>
                                </span><br>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#tools6">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-cogs fa-stack-1x text-primary"></i>
                                </span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#summary6">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-info fa-stack-1x text-primary"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div id="architecture6" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Architecture</h3>
                        <p>SKU Manager is a Cloud MS Access Form. VBA and SQL are mainly used for storing, updating, and deleting data to the cloud.</p>
                    </div>
                    <div id="tools6" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Tools</h3>
                        <p>MS Access, MS Azure, and MS SQL Server.</p>
                    </div>
                    <div id="summary6" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Summary</h3>
                        <p>SKU Manager is designed for managing data such as products specification, designs, color code, inventory, and barcode.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="overlayContent_7">
            <div class="container">
                <div class="row text-center">
                    <div class="overlay_header">
                        <h2>My Web</h2>
                        <a class="close-thik"></a>
                        <hr>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#architecture7">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-sitemap fa-stack-1x text-primary"></i>
                                </span><br>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#tools7">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-cogs fa-stack-1x text-primary"></i>
                                </span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#summary7">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-info fa-stack-1x text-primary"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div id="architecture7" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Architecture</h3>
                        <p>My Web is built using HTML, CSS, JavaScript, jQuery, Boostrap, and </p>
                    </div>
                    <div id="tools7" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Tools</h3>
                        <p>Github, Linux, and Sublime</p>
                    </div>
                    <div id="summary7" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Summary</h3>
                        <p>This project is built to play around with YQL API, to process XML data using jQuery, and to check out some Stock Quotes on a daily basis. </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="overlayContent_8">
            <div class="container">
                <div class="row text-center">
                    <div class="overlay_header">
                        <h2>Stock Board</h2>
                        <a class="close-thik"></a>
                        <hr>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#architecture8">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-sitemap fa-stack-1x text-primary"></i>
                                </span><br>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#tools8">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-cogs fa-stack-1x text-primary"></i>
                                </span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#summary8">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-info fa-stack-1x text-primary"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div id="architecture8" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Architecture</h3>
                        <p>Stock Board is built using HTML, CSS, jQuery, Boostrap, XML, and YQL API.</p>
                    </div>
                    <div id="tools8" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Tools</h3>
                        <p>Github, Linux, and Sublime</p>
                    </div>
                    <div id="summary8" class="collapse in overlay_header">
                        <hr class="small">
                        <h3>Summary</h3>
                        <p>This project is built to play around with YQL API, to process XML data using jQuery, and to check out some Stock Quotes on a daily basis. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 inline-image tilt pic">
                        <div class="imgSmall hovereffect">
                            <img src="img/VPEC_Intranet.svg" class="img-responsive thumbnail img-resize" alt="Image">
                            <div class="overlay">
                                <h2>VPEC Intranet</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 inline-image tilt pic">
                        <div class="imgSmall hovereffect">
                            <img src="img/UW_Monopoly.svg" class="img-responsive thumbnail img-resize" alt="Image">
                            <div class="overlay">
                                <h2>University of Waterloo Monopoly</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 inline-image">
                        <div class="imgSmall hovereffect">
                            <img src="img/DFO_MMS.svg" class="img-responsive thumbnail img-resize" alt="Image">
                            <div class="overlay">
                                <h2>DFO Milk Management System</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 inline-image">
                        <div class="imgSmall hovereffect">
                            <img src="img/Chess.svg" class="img-responsive thumbnail img-resize" alt="Image">
                            <div class="overlay">
                                <h2>Chess</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 inline-image">
                        <div class="imgSmall hovereffect">
                            <img src="img/Credential_Manager.svg" class="img-responsive thumbnail img-resize" alt="Image">
                            <div class="overlay">
                                <h2>Credential Manager</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 inline-image">
                        <div class="imgSmall hovereffect">
                            <img src="img/Order_Manager.svg" class="img-responsive thumbnail img-resize" alt="Image">
                            <div class="overlay">
                                <h2>Order Manager</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 inline-image">
                        <div class="imgSmall hovereffect">
                            <img src="img/SKU_Manager.svg" class="img-responsive thumbnail img-resize" alt="Image">
                            <div class="overlay">
                                <h2>SKU Manager</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 inline-image">
                        <div class="imgSmall hovereffect">
                            <img src="img/myWeb.svg" class="img-responsive thumbnail img-resize" alt="Image">
                            <div class="overlay">
                                <h2>My Web</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 inline-image">
                        <div class="imgSmall hovereffect">
                            <img src="img/Stock_Board.svg" class="img-responsive thumbnail img-resize" alt="Image">
                            <div class="overlay">
                                <h2>Stock Board</h2>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <br>

    <script type="text/javascript">
        var index;
        $(".imgSmall").click(function(){
            index = $(".imgSmall").index(this);
            $("#overlay").show();
            $("#overlayContent_" + index).show();
            $('body').css({
                'overflow': 'hidden',
                'height:' : '100%'
            });
            $("#overlayContent_" + index).css({
                'overflow-y': 'scroll'
            });
        });

        $(".close-thik").click(function(){
            $("#overlay").hide();
            $("#overlayContent_" + index).hide();
            $("#overlayContent_" + index).css({
                'overflow' : 'hidden'
            });
            $('body').css({
                'overflow': 'auto',
                'height': 'auto'
            });
        });
    </script>
