/*****************/
/* SECTION INTRO */

#intro {
    background-image: url('/assets/img/background/top-background.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: block !important;
    align-items: center;
    position: relative;
    z-index: 10;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    color: #f3b733;
}

.intro-image {
    background-color: rgba(0,0,0,.7);
    min-width: 100%;
    min-height: 120%;
    width: auto;
    height: auto;
    z-index: -10;
    left: 0;
    bottom: 0;
}

.intro-content {
    margin-top: 7em;
}

.intro-name {
    font-size: 8rem;
    color: dodgerblue;
    font-family: 'Beon';
}

.intro-text {
    font-size 5rem;
    font-weight: 700;
    font-family: Lato;
}




/*****************/
/* SECTION ABOUT */

.profile-img {
    width: 75%;
    border-radius: 50%;
    border: 5px solid #f3b733;
}

.img-center {
    margin: 0 auto;
}

.dashed {
    border: none;
    border-top: 5px dashed #f3b733;
    height: 5px;
    width: 90%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.text-content {
    padding-top: 5%;
    font-weight: 200;
    font-size: 2rem;
    color: #9da7a6;
}

.sub-heading {
    padding-bottom: 10%;
    font-weight: 200;
    font-size: 3rem;
    color: #3a4c4a;
}

.text-justify {
    text-align: justify;
}

.icon {
    width: auto;
    height: 125px;
}

.btn-blue {
    color: #1e90ff;
    border: 2px solid #1e90ff;
    border-radius: 3px;
    background: #fff;
}

.btn-blue:hover {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    background: #1e90ff;
}

.bottom-space {
    padding-bottom: 3%;
}



/**************************/
/* SECTION RECOMMENDATION */

.sm-text {
    font-size: 14px;
    font-weight: 200;
    text-align: justify;
    color: #3a4c4a;
    font-style: italic;
    min-height: 180px;
    padding-top: 10px;
    border-top: 3px solid #fff;
}

.right-text {
    font-size: 14px;
    font-weight: 200;
    text-align: right;
}

div.social-media {
    display: table;
    table-layout: fixed; 
}

div.social-media a {
    display: table-cell;
    text-align: center;
}

#contact {
    margin-bottom: 0px;
}

.copyright {
    padding: 2%;
}




/* Instagram photo frame */

.instafeed {
/*    float: left;*/
    padding: 10px;
}

.instafeed img {
    width: 100%;
}

.instafeed .feed-text {
    position:relative;
    left: 0px;
    right: 0px;
    min-height: 60px;
    background-color: #252839;
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    padding: 5%;
    color: #f3b733;
    opacity: 0;
    visibility: hidden;
}

.instafeed:hover .feed-text {
    visibility: visible;
    opacity: 1;
    bottom: 60px;
    transition: all ease-in 0.5s;
}


/* NAVBAR */

.navbar-custom {
    color: white;
    font-family: Lato;
    background-color: transparent !important;
}

.navbar-custom:hover {
    color: white !important;
    font-family: Lato;
    background-color: transparent !important;
    border-bottom: 2px solid white;
}

.transparent {
    background-color: transparent;
    color: white;
}

.color {
    background-color: #252839;
}

/*****************/
/* COMMON STYLES */

.background-light {
    background-color: #f7f6f6;
}

.background-dark {
    background-color: #252839;
}

.background-yellow {
    background-color: #f3b733;
}

.header {
    font-size: 5rem;
    font-weight: 500;
    color: #3a4c4a;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.sub-header {
    font-size: 2em;
    font-weight: 100;
    color: lightgray;
    padding-bottom: 2rem;
}

.no-padding-bottom {
    padding-bottom: 0px;
}

.white {
    color: #fff;
}

section {
    margin-bottom: 10px;
}

.block-custom {
    border: 10px solid white;
}
