/* LAYOUT STRUCTURE*/

html * {
    font-family: "Avenir Next" !important;
    color: #000000;
    font-size: 18px;
}

body {
    margin: 0;     /* This is used to reset any browser-default margins */
    height: 100vh; /* This is needed to overcome a Chrome bug. */
    width: 100vw;  /* As above. */
}

.table {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.cell {
    display: table-cell;
    vertical-align: middle;
}

.inner-cell {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    width: 60%;
}

.block {
    width: 50vw;
    height: 100vh;
}

.blue-background {
    background: #38485B;
}

.grey-background {
    background: #E6E6E6;
}

.white-text {
    color: #ffffff!important;
}

.right-align {
    text-align: right;
}

.sub-title {
    font-size: 14px;
    color: #D1D1D1;
}

.xs-text {
    font-size: 12px;
}

.sm-text {
    font-size: 14px;
}

.ms-text {
    font-size: 18px;
}

.md-text {
    font-size: 20px;
}

.lg-text {
    font-size: 24px;
}

.xl-text {
    font-size: 32px;
}

.wide {
    width: 100%;
}

.padding-rt-5 {
    padding-right: 5%;
}

.padding-2 {
    padding: 2rem;
}

.padding-lt-10 {
    padding-left: 10px;
}

.padding-lr-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.padding-lr-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.padding-bottom-1 {
    padding-bottom: 1rem;
}

.a-style, .a-style:hover, .a-style:focus {
    color: #38485B;
    text-decoration: none;
}

.all-cap {
    text-transform: uppercase;
}

.no-bullet-list {
    list-style-type: none;
}

@media (min-width:650px){
    .hide-button{
        display: none!important
    }
    #sidebar {
        float: left;
        position: fixed!important;
        z-index: 1;
        display: block!important;
    }
}

@media (max-width:649px){
    #sidebar {
        float: left;
        position: fixed!important;
        z-index: 1;
        display: none;
    }
    .block, .table {
        width: 100%;
    }
}



/* NAVBAR / SIDEBAR */

.menu-item, .menu-item:hover, .menu-item:after, .menu-tiem:before {
    color: #ffffff;
}

.sidebar-animate-left{
    position: relative;
    animation: animateleft 0.5s;
}

@keyframes animateleft{
    from{
        left: -300px;
        opacity: 0;
    }
    to{
        left: 0;
        opacity: 1;
    }
}



/* LOADING */

.img-center {
    display: block;
    margin: auto;
    vertical-align: middle;
    height: 15%;
    animation:spin 2s linear infinite;
}

.loading-wrapper {
    height: 100vh;
    margin-top: 25rem;
}

@keyframes spin { 50% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}



/* MAIN */

#main {
    position: fixed;
    overflow: auto;
    right: 0;
    float:right;
}

.name {
    letter-spacing: 20px;
    font-size: 48px;
    color: #38485B;
}

.name-last {
    letter-spacing: normal;
    font-size: 48px;
    color: #38485B;
}

.contact {
    height: 16px;
}



/* PROJECTS */

.repo {
    font-size: 20px;
    letter-spacing: 2px;
}

.repo:hover, .repo:focus {
    text-decoration: underline;
}

/* RESUME */
.category {
    font-size: 32px;
    font-weight: 300;
    color: #38485B;
}

.skill-label {
    display: inline-block;
    background: #38485B;
    color: white;
    padding: 5px;
    margin: 5px;
}

@media (max-width:767px) {
    .padding-1 {
        padding: 1rem 0 1rem 0!important;
    }

    .sm-col-background {
        background: #ffffff!important;
    }

    .sm-col-color {
        color: #D1D1D1!important;
    }
}

@media (min-width:768px) {
    .padding-1 {
        padding: 0 1rem 1rem 1rem;
    }
}
