<section id="intro" class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 text-left code">
        <p>function <b class="orange">Introduce</b> ( me ) {</p>
        <p class="tab"><span class="orange">this</span>.me = <span class="dark">me</span>;</p>
        <p class="tab"><span class="orange">this</span>.me.<b>name</b> = <span class="dark">'Alex Chen'</span>;</p>
        <p class="tab"><span class="orange">this</span>.me.<b>home</b> = <span class="dark">'Taiwan'</span>;</p>
        <p class="tab"><span class="orange">this</span>.me.<b>school</b> = {</p>
        <p class="tab-2"><b>name</b>: <span class="dark">'University of Waterloo'</span>,</p>
        <p class="tab-2"><b>class</b>: <span class="dark">'2018'</span>,</p>
        <p class="tab-2"><b>program</b>: <span class="dark">'Computing and Financial Management Honours Co-op'</span></p>
        <p class="tab">};</p>
        <p>}</p>
    </div>
</section>
