<div class="row" ng-repeat="_ in vm.instagram.feeds | limitTo: vm.instagram.limit" ng-if="$index % 3 == 0">
    <div class="instafeed col-xs-12 col-sm-4" ng-repeat="i in [$index, $index + 1, $index + 2]" ng-init="feed = vm.instagram.feeds[i]">
        <div class="polaroid">
            <img class="display" ng-src="{{ feed.images.standard_resolution.url }}">
            <div class="cover">
                <p>
                    <i class="fa fa-heart" aria-hidden="true"></i> {{ feed.likes.count }}
                    <i class="fa fa-comment" aria-hidden="true"></i> {{ feed.comments.count }}
                </p>
            </div>
            <a ng-href="{{feed.link}}">
                <p class="feed-text">{{ feed.caption.text }}</p>
            </a>
        </div>
    </div>
</div>

<div class="col-xs-12 bottom-space">
    <button class="btn btn-blue btn-center text-center" ng-click="vm.loadMoreFeeds()" ng-hide="vm.instagram.limit == vm.instagram.max">Load More</button>
</div>
