<!--  Loading  -->
<div ng-include src="'views/partials/loading.html'"></div>

<div ng-show="!vm.loading" id="feed" class="col-xs-12 background-light">
    <div class="header text-center">Photography</div>
    <div class="container bottom-space">

        <!-- Feeds -->
        <div ng-include src="'views/photography/feed.html'"></div>

        <div class="col-xs-12 text-center ">
            <em>Data gathered from the <a href="https://www.instagram.com/developer/">Instagram</a> API.</em>
        </div>
    </div>
</div>
