<!--  Loading  -->
<div ng-include src="'views/partials/loading.html'"></div>

<div ng-show="!vm.loading" class="col-xs-12 col-sm-8 col-sm-offset-2 background-light intro-content">

    <!--  EDUCATION  -->
    <div class="experience-wrapper">
        <div class="experience-table">
            <div class="title">
                Education
                <div class="float-right btn-group">
                    <button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="cursor-pt"><a ng-click="vm.showAll(vm.experience.educations_show_list)">Show All</a></li>
                        <li class="cursor-pt"><a ng-click="vm.hideAll(vm.experience.educations_show_list)">Hide All</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="experience-table" ng-repeat="education in vm.experience.educations">
            <div class="row table-row">
                <div class="left-cell table-cell">{{education.start}} - {{education.end}}</div>
                <div class="right-cell table-cell">
                    <div ng-click="vm.toggleItem(vm.experience.educations_show_list, education.id)" class="cell-header">
                        {{education.program}}
                        <div class="float-right" ng-hide="vm.experience.educations_show_list[{{education.id}}]">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </div>
                        <div class="float-right" ng-show="vm.experience.educations_show_list[{{education.id}}]">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div ng-show="vm.experience.educations_show_list[{{education.id}}]">
                        <a class="cell-sub-header yellow" ng-href="{{education.link}}"><div>{{education.school}}</div></a>
                        <ul class="circle-list">
                            <li ng-repeat="point in education.summary">{{point}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  WORK  -->
    <div class="experience-wrapper">
        <div class="experience-table">
            <div class="title">
                Work Experience
                <div class="float-right btn-group">
                    <button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="cursor-pt"><a ng-click="vm.showAll(vm.experience.jobs_show_list)">Show All</a></li>
                        <li class="cursor-pt"><a ng-click="vm.hideAll(vm.experience.jobs_show_list)">Hide All</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="experience-table" ng-repeat="job in vm.experience.jobs">
            <div class="row table-row">
                <div class="left-cell table-cell">{{job.start}} - {{job.end}}</div>
                <div class="right-cell table-cell">
                    <div ng-click="vm.toggleItem(vm.experience.jobs_show_list, job.id)" class="cell-header">
                        {{job.role}}
                        <div class="float-right" ng-hide="vm.experience.jobs_show_list[{{job.id}}]">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </div>
                        <div class="float-right" ng-show="vm.experience.jobs_show_list[{{job.id}}]">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div ng-show="vm.experience.jobs_show_list[{{job.id}}]">
                        <a class="cell-sub-header yellow" ng-href="{{job.link}}"><div>{{job.organization}}</div></a>
                        <div class="cell-sub-header">{{job.location}}</div>
                        <ul class="circle-list">
                            <li ng-repeat="point in job.summary">{{point}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  AWARDS  -->
    <div class="experience-wrapper">
        <div class="experience-table">
            <div class="title">
                Awards and Mentions
                <div class="float-right btn-group">
                    <button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="cursor-pt"><a ng-click="vm.showAll(vm.experience.awards_show_list)">Show All</a></li>
                        <li class="cursor-pt"><a ng-click="vm.hideAll(vm.experience.awards_show_list)">Hide All</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="experience-table" ng-repeat="award in vm.experience.awards">
            <div class="row table-row">
                <div class="left-cell table-cell">{{award.year}}</div>
                <div class="right-cell table-cell">
                    <div ng-click="vm.toggleItem(vm.experience.awards_show_list, award.id)" class="cell-header">
                        {{award.name}}
                        <div class="float-right" ng-hide="vm.experience.awards_show_list[{{award.id}}]">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </div>
                        <div class="float-right" ng-show="vm.experience.awards_show_list[{{award.id}}]">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div ng-show="vm.experience.awards_show_list[{{award.id}}]">
                        <div class="cell-sub-header yellow">{{award.contest}}</div>
                        <div class="experience-description">{{award.description}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  Recommendations  -->
    <div class="experience-wrapper">
        <div class="experience-table">
            <div class="title">
                Recommendations
                <div class="float-right btn-group">
                    <button type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="cursor-pt"><a ng-click="vm.showAll(vm.experience.recommendations_show_list)">Show All</a></li>
                        <li class="cursor-pt"><a ng-click="vm.hideAll(vm.experience.recommendations_show_list)">Hide All</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="experience-table" ng-repeat="recommendation in vm.experience.recommendations">
            <div class="row table-row">
                <div class="left-cell table-cell">{{recommendation.year}}</div>
                <div class="right-cell table-cell">
                    <div ng-click="vm.toggleItem(vm.experience.recommendations_show_list, recommendation.id)" class="cell-header">
                        {{recommendation.recommender}}, {{recommendation.recommenderPosition}}
                        <div class="float-right" ng-hide="vm.experience.recommendations_show_list[{{recommendation.id}}]">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </div>
                        <div class="float-right" ng-show="vm.experience.recommendations_show_list[{{recommendation.id}}]">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div ng-show="vm.experience.recommendations_show_list[{{recommendation.id}}]">
                        <div class="cell-sub-header yellow">{{recommendation.position}}</div>
                        <div class="experience-description text-justify">{{recommendation.text}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
