<!--  Loading  -->
<div ng-include src="'views/partials/loading.html'"></div>

<div ng-show="!vm.loading" class="col-xs-12 background-light">
    <div class="header text-center">Experience</div>
    <div class="container bottom-space">
        <a ng-href="/#!/experience/{{experience.id}}" ng-repeat="experience in vm.experiences">
            <div class="instafeed col-xs-12 col-sm-3 col-md-3 bottom-space">
                <div class="polaroid">
                    <img class="display logo-resize" ng-src="{{ experience.logo }}">
                    <div class="cover cover-text text-center">
                        {{ experience.organization }}
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
