<!--  Loading  -->
<div ng-include src="'views/partials/loading.html'"></div>

<div ng-show="!vm.loading" id="blog" class="col-xs-12 background-light">
    <div class="header text-center"></div>
    <div class="container bottom-space">
        <div ng-repeat="blog in vm.blogs | orderBy:['-date', '-id']">
            <a class="dark" ng-href="/#!/blog/{{blog.id}}">
                <div ng-class="{'panel-border-{{ blog.category }}': true}" class="panel panel-default col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="panel-body">
                        <h2>{{ blog.title }}</h2>
                        <p>{{ blog.description }}</p>
                        <p class="text-small grey">{{ blog.date }}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
