<div ng-include src="'views/partials/loading.html'"></div>

<div ng-show="!vm.loading" class="col-xs-12 background-light">
<!--    <div ng-hide="false" class="loading-animation"></div>-->

    <div class="col-xs-12 col-sm-8 col-sm-offset-2 bottom-space">
        <div class="text-center header dark">{{ vm.blog.title.toUpperCase() }}</div>
        <p class="text-center text-small grey">
            Posted on {{ vm.blog.date }} by <a href="/#!/home">Alex Chen</a>
        </p>
    </div>

    <div id="md" class="col-xs-12 col-sm-8 col-sm-offset-2 bottom-space" marked="vm.blog.content"></div>

    <div class="col-xs-12 margin-top-lg bottom-space">
        <button class="btn btn-blue btn-center text-center" ng-click="vm.backToBlog()">Back to Blog</button>
    </div>

    <div ng-include src="'views/partials/footer.html'"></div>
</div>
